@media screen {

  //  Media query 1200px
  @media (max-width: 1200px) {

    .model_listing {

      .img-holder {
        img {
          width: auto;
          height: 215px;
        }
      }
    }

    .def_nav11 ul > li > a.sell_cta {
      margin: 0 13px;
      padding: 5px 14px !important;
    }

    .def_nav11 {
      ul {
        li {
          a {
            padding: 5px 19px !important;
          }
        }
      }
    }
    .head_add {
      h2 {
        font-size: 36px;
      }
    }

  }

  //  Media query 992px
  @media (max-width: 991px) {

    .container {
      max-width: 100%;
    }

    .def_nav11 .mobile_profile_panel .navigation2 .dropdown-menu:before {
      right: 35px;
    }
    .tohide{
      display: none;
    }

    .def_nav11 .mobile_profile_panel > a {
      width: 50px;
      height: 50px;
    }

    .def_nav11 .mobile_profile_panel .navigation2{
      top: 76px;
    }

    #Mobile_Toggler{
      width: 50px;
      padding: 5px 5px;
      margin-left: 35px;
    }

    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      top: 0px;
    }

    .condition-cat {

      > div {
        padding-right: 0px;
      }

      .cond-cat-block {
        padding: 15px 0px !important;
      }

    }

    a.btn112 {
      margin-top: 35px;
    }

    .Attention112 {
      margin-bottom: 15px;
    }

    .Seller_profile {

      > div:first-child {
        width: 25%;
      }

      > div:last-child {
        width: 75%;
      }

    }

    .Comment_section112 {

      .single-comment {

        > div:first-child {
          width: 20%;
        }

      }

    }

    .sort_by {
      max-width: 230px;
      > a {
        font-size: 14px;

        strong {
          font-size: 14px;
        }
      }

    }

    .head_add {

      h2 {
        font-size: 35px;
      }

      .row {

        div:last-child,
        div:first-child {
          justify-content: center;

          p {
            margin-top: 10px;
          }

        }

      }

    }

    .header_ad_listing {
      h1 {
        text-align: center;
      }

      .row {

        div:last-child {
          justify-content: center;
          margin-top: 10px;
        }

      }

    }

    .filter_btn:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      background: rgba(0, 0, 0, 0.30);
      z-index: 99;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;

    }

    .filter_btn.active:after {
      opacity: 1;
      visibility: visible;
    }

    .filter_btn {
      display: flex !important;
    }

    .sidebar112 {

      display: flex;
      justify-content: flex-end;

      .ad_sidebar {
        display: none;
      }

      > .widget112 {
        overflow-y: auto;
        position: fixed;
        z-index: 99999;
        top: 0px;
        height: 100%;
        margin: 0;
        left: 0;
        width: 280px;
        @include transition(all 0.25s ease-in-out);

        @include transform(translateX(-100%));
      }

      > .widget112.open {

        @include transform(translateX(0%));
      }

    }

    .model_listing {

      .header-listing {
        margin-bottom: 0px;
        padding: 5px 0;

        h1 {
          font-size: 35px;
          margin-top: 10px;
          margin-bottom: 0px;
        }

        ul {
          display: none;
        }

        h3 {
          display: none;
        }

        p {
          margin-bottom: 5px;
        }

      }

      .row {
        > div:nth-child(odd) {
          border-right: 1px solid rgba(213, 213, 213, 0.33);
          border-bottom: 1px solid rgba(213, 213, 213, 0.33);
        }
        > div:nth-child(even) {
          border-bottom: 1px solid rgba(213, 213, 213, 0.33);
        }
      }

      .model_product {

        margin-top: 35px;

        h3 {
          font-size: 25px;
        }

        p {
          font-size: 16px;
        }

      }

      .img-holder {
        img {
          width: auto;
          height: 200px;
        }
      }
    }

    .mobile-Visible {
      display: block !important;
    }

    .mobile-Visible.inline {
      display: inline-block !important;
    }

    .mobile-Visible-flex {
      display: flex !important;
    }

    .desktop-Visible {
      display: none !important;
    }

    .desktop-Visible-flex {
      display: none !important;
    }

    .header_content {

      height: 120px;
      align-items: center;
      padding: 0;

      h1, p {
        display: none;
      }

      .search_bar {
        border: 0px;
      }

    }

    .def_nav11 {

      .navigation1 {
        margin-top: 10px;
        border-top: 1px solid rgba(233, 233, 233, 0.56);
        padding-top: 10px !important;

        li:before{
          display: none;
        }
      }

      .navigation2 {

          li:last-child>a{
            border: none;
          }
      }

      .navigation1,
      .navigation2 {

        padding-right: 0px;

        li.after-login>a:after{
          position: absolute;
          right: 40px;
          top: 23px;
          font-size: 20px;
        }
        li.after-login>a{
          text-align: left;
          position: relative;
        }

        li > a:hover {
          color: $primary-color !important;;
        }
        li > a {
          padding: 15px 5px !important;
          @include transition(all 0.5s ease-in-out)
        }

        li>a{
          border-bottom: 1px solid rgba(233, 233, 233, 0.56);
        }

      }

      .navigation2 {
        padding-left: 0px;
        margin: 0px;
        border: none;
      }

    }

    .section_h {
      text-align: left;
      font-size: 38px;
    }

    .section_h:after {
      margin: 20px 0 30px
    }

    .default_padd {
      padding: 35px 15px;
    }

    .owl-nav {
      display: none !important;
    }

    .iphones_sale11 .row > div:first-child {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 42px;

      h2 {
        margin: 0px;
      }

      > a {
        margin: 0px;
        padding-right: 15px;
      }

    }

    .categories112 .cat-block-flex .block-cat:nth-child(3) > a,
    .categories112 .cat-block-flex .block-cat:nth-child(4) > a {
      .img-holder > span {
        height: 75%;
      }
    }

    .categories112 .cat-block-flex .block-cat:last-child > a {
      margin-right: 0px;
    }

    .categories112 .block-cat > a {
      display: block;
      width: 161px;
      height: 169px;
      overflow: hidden;
      border: 1px solid #d7d7d7;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      h3 {
        font-size: 28px;
        margin-top: 12px;
        margin-bottom: 0px;
      }

      .img-holder {
        height: 90px;
        margin: 0px;

        span {
          height: 100%;
          width: auto;

          img {
            height: 100%;
            width: auto;
          }
        }

      }

    }

    .iphones_sale11 {

      padding: 30px 0 30px;

      h2 {
        font-size: 28px;
      }

      .item {
        padding: 0px 50px 0px 0px;
        img {
          height: 180px;
        }
      }
    }

    .search_bar {

      > a {
        font-size: 14px !important;
        padding-left: 10px;
        padding-right: 10px;
      }

      .input_wrapper:after {
        top: 7px !important;
      }

      > div, > a {
        height: 50px !important;

        img {
          top: 16px !important;
          left: 12px !important;
          width: 18px;
        }

        input, select {
          padding-left: 37px !important;
          font-size: 14px !important;
        }

      }

      .select_wrapper:after {

        top: 14px !important;
        right: 10px !important;
        transform: scale(0.7);

      }

      .select_wrapper {
        width: 70px !important;

        > select {
          color: rgba(0, 0, 0, 0) !important;
        }

        img {
          top: 20px !important;;
        }
      }

    }

    .category_select {
      .section_h:after {
        margin: 20px auto 30px;
      }
      .section_h {
        text-align: center;
      }
    }

  }

  //  Media query 767px
  @media (max-width: 767px) {

    .def_nav11 .mobile_profile_panel .navigation2 .dropdown-menu:before {
      right: 27px;
    }

    .seller-bar{
      padding: 0px 15px;
      display: block !important;

      .seller-bar-details{
        padding-top: 0px !important;

        p{
          padding:8px 0px 0px !important;
        }

        ul:first-child>li:first-child,
        ul:first-child>li:last-child{
          display: none;
        }

        ul:nth-child(2){
          display: none;
        }

        ul:first-child{
          display: block !important;
          text-align: left !important;
          padding: 0px;

          li:nth-last-child(2){
            border: none !important;
          }

          li{
            border-bottom: 1px solid #d8d8d86e;
            padding: 5px 0;
          }

        }

      }

      .img-holder{

        >i{
          font-size: 20px;
          color: #ccc7c7;
          display: block !important;
          position: absolute;
          right: 0px;
          top: 10px;
        }

        ul{
          display: inline-block !important;
        }
      }

        .seller-bar-details,
        .img-holder{
        width: 100% !important;
        display: block;
        padding:10px 0px 10px 0px;
        border-bottom: 1px solid #d8d8d88c;
        img{
          max-width: 70px;
          border-radius: 50%;
        }
      }

      .seller-bar-details{
        span.m-h{
          display: inline-block !important;
        }
      }

    }

    .login-register-box{
      padding: 30px 20px 20px !important;
      .social-Icons{

        a{
          font-size: 15px;
          i{
            font-size: 24px;
          }
        }

      }
    }

    .more_from_this .provider_each {
      .text-holder .fav-icon {
        top: 70px !important;
      }

      .visible-md {
        display: block !important;
      }

      .visible-md-inverse {
        display: none !important;
      }

      .custom-row {

        > div:nth-child(2) {
          padding-left: 0px;
        }

        h2 > a {
          margin-bottom: 0px;
          padding-left: 0px;
        }
      }

    }

    //.products_images{
    //
    //  >li:not(:last-child):not(:first-child){
    //    display: none;
    //  }
    //
    //}

    .def_nav11 .mobile_profile_panel .navigation2{
      top: 49px;
    }

    .navbar-collapse>.navigation2{
      display: none;
    }

    .def_nav11 .mobile_profile_panel > a {
      width: 40px;
      height: 40px;
    }

    #Mobile_Toggler{
      width: 40px;
      padding: 5px 5px;
      margin-left: 15px;
    }

    .post_ad_form .form_block .btn112 {
      font-size: 17px;
      width: 160px;
      height: 45px;
      margin-right: 0px !important;
    }

    .condition-cat {

      > div:not(:last-child) {
        border-bottom: 1px solid #e8e7e7;
      }

      .cond-cat-block {
        border: none !important;

        label {
          margin-bottom: 0px;
        }

        > p {
          color: #757575;
          margin-bottom: 0;
          line-height: 1.6;
          font-size: 15px;
          display: block !important;
        }

        > ul {
          display: none;
        }

      }

    }

    .extra_device_condition > h2 p {
      display: none;
    }

    .Attention112 {
      font-size: 14px;
      padding: 5px 15px !important;
      strong {
        font-size: 14px;
      }
    }

    .post_comment h2 {
      font-size: 25px;
    }

    .Sub-Page {
      .header_content {
        height: 80px;
      }
    }

    .product_intro112 .poduct-details {
      padding-top: 35px;
      .price_question {
        display: block;

        h2 {
          line-height: 0.7;
          span {
            display: inline-block;
          }
        }
        a {
          width: 100%;
          max-width: 100%;
          text-align: center;
          margin-top: 15px;
        }
      }
      .contact_seller {
        margin: 15px 0;
      }
    }

    .Product-Slider {

      h2 {
        font-size: 25px !important;
      }

      > div {
        background: #fff;
        border: 1px solid #d9d9d9;
        padding: 25px 15px 20px;
        margin-top: 15px;
        margin-bottom: 15px;

      }
    }

    .Seller_profile {
      display: block;
      margin-bottom: 15px;

      > div:first-child {
        width: 100%;
        border: none !important;
        justify-content: flex-start;

        > div:first-child {
          margin-right: 15px;
        }

        .seller_bio {
          display: block;
          margin: 0px;

          h3 {
            margin: 0 0 7px 0;
            font-size: 25px;
          }
        }
      }

      > div:last-child {
        width: 100%;
        border: none;
        padding: 15px 0px;
      }

    }

    .Comment_section112 {

      .single-comment {

        display: block;
        padding-left: 0px;
        padding-right: 0px;

        > div:first-child {
          width: 100%;
          display: flex;
          margin-bottom: 20px;

          strong {
            margin-left: 15px;
            font-size: 20px;
          }
        }

        > div:last-child {
          width: 100%;
          padding-left: 0px;
        }

      }

    }

    .navbar-brand {
      img {
        width: 80px;
      }
    }

    .model_listing {

      .img-holder {
        img {
          width: auto;
          height: 160px;
        }
      }
    }

    .section_h {
      font-size: 25px;
    }

    .def_nav11 {
      padding: 7px 15px;

      ul > li.active:before {
        display: none;
      }

      .m-sell-cta {
        margin: 0px;
        font-size: 13px;
        padding: 7px 15px !important;
        border-radius: 20px;
        margin-left: auto;
      }

      .navbar-toggler {
        padding: 3px 7px;
        margin-left:15px;

        .bars {
          width: 25px;
          height: 2px;
          margin: 3px 0 7px;
        }

      }

    }

    .categories112 {
      .container {
        padding: 0px;

        .block-cat:nth-child(3) > a .img-holder > span,
        .block-cat:nth-child(4) > a .img-holder > span {
          height: 65%;
        }

        .block-cat {

          a {
            width: auto;
            height: auto;
            padding: 8px 9px;
            margin-right: 5px;

            .img-holder {
              height: 50px;
              margin: 0px;
            }

            h3 {
              font-size: 16px;
              margin-top: 6px;
            }

          }

        }

      }
    }

    .iphones_sale11 {

      .item {
        padding: 0px;

        p {
          font-size: 14px;
        }

        h3 {
          font-size: 16px;
        }

        img {
          height: 105px;
        }
      }
    }

    .Latop_carousel {
      .item {

        div.img-holder {
          height: 65px;

          img {
            height: 65px !important;
          }

        }

      }
    }
    .sidebar112 {
      .filter_btn {
        width: 100%;
        justify-content: right;
      }
    }
    .head_add {
      padding: 15px 15px;
      h2 {
        font-size: 24px;
      }
    }
    .sort_tab {
      li {
        a {
          font-size: 16px;
        }
      }
    }
    .header_ad_listing {
      h1 {
        font-size: 30px;
      }
    }


    #footer {
      div:first-child > .row > div {
        min-height: 120px;
      }
    }

  }

  @media (max-width: 500px) {

    .comment_header {
      display: block !important;

      a {
        max-width: 100% !important;
        margin-bottom: 15px;
      }
    }

  }


  @media (max-width: 350px) {

    .login-register-box {
      .social-Icons a {
        font-size: 13px;
        padding-left: 17px;

        i{
            left: 18px;
            font-size: 20px !important;
        }
      }

    }

    .Login_register .extra-fun{
      display: block !important;

      >div{
        text-align: left !important;
      }
    }


    .iphones_sale11 h2 {
      font-size: 23px;
    }

    .categories112 .container .block-cat a {
      padding: 8px 6px;
    }

  }

}