body {
  background-color: #f6f6f6;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
header .logo {
  text-align: center;
  padding: 20px 15px 19px;
}
.navbar-default {
  background-color: #121e4b;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}
.navbar-nav > li {
  padding: 3px 6px 0px 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  line-height: 1;
  padding: 13px 20px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #37c7ac;
  border-top-left-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.navbar-default .navbar-nav > .active > a {
  color: #fff;
  background-color: #37c7ac;
  padding: 13px 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #37c7ac;
  padding: 13px 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.navbar-default .navbar-nav > li > a i {
  font-size: 18px;
  padding-right: 10px;
}
.box1-wrapper {
  margin-bottom: 30px;
}
.box1-wrapper .well {
  font-size: 18px;
  color: #111949;
  letter-spacing: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 1;
  background-color: #fff;
  padding: 24px 30px;
  border: none;
  font-weight: 500;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
}
.box1-wrapper .well span {
  color: #37c7ac;
}
.box2-wrapper {
  margin-bottom: 30px;
}
.box2-wrapper .well {
  margin: 0;
  background-color: #fff;
  padding: 15px 30px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.box2-wrapper .well ul {
  padding: 0;
  margin: 0;
}
.box2-wrapper .well ul li {
  display: inline-block;
  line-height: 1;
  color: #121e4b;
  font-weight: 500;
  font-size: 16px;
  border-right: 1px solid #dbdbdb;
  padding: 9px 20px;
}
.box2-wrapper .well ul li:first-child {
  padding-left: 0;
}
.box2-wrapper .well ul li span {
  color: #585858;
  font-size: 14px;
  font-weight: 300;
  padding-left: 18px;
}
.section-1 {
  margin-bottom: 30px;
}
.section-1 .panel-group {
  margin: 0;
}
.section-1 .panel.panel-default {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.section-1 .panel-heading {
  font-size: 18px;
  color: #fff;
  //padding: 30px 25px 29px;
  padding: 22px 25px 22px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 500;
  background: #111a49;
  background: linear-gradient(to right, #111a49, #288980);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.trade-wrapper .panel-heading {
  border-top-right-radius: 0;
}
.trade-wrapper h3 {
  color: #101848;
  margin: 45px 0 45px;
  font-weight: 400;
  line-height: 1;
  padding-left: 5px;
}
.tweets-wrapper .panel-heading {
  border-top-left-radius: 0;
}
.tweets-wrapper ul {
  padding: 0;
  margin: 0;
}
.tweets-wrapper ul li {
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e9ec;
  margin-bottom: 15px;
}
.tweets-wrapper ul li:last-child {
  border-bottom: none;
}
.tweets-wrapper ul li .img-wrpper {
  display: inline-block;
  vertical-align: top;
}
.tweets-wrapper ul li .img-wrpper img {
  border-radius: 5px;
}
.tweets-wrapper ul li .info-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.tweets-wrapper ul li .info-wrapper p {
  line-height: 1;
}
.tweets-wrapper ul li .info-wrapper p.info-1 {
  //font-size: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #1d1e3a;
  margin-bottom: 5px;
}
.tweets-wrapper ul li .info-wrapper p.info-1 span {
  font-weight: 300;
  color: #767d82;
  padding-left: 10px;
}
.tweets-wrapper ul li .info-wrapper p.info-2 {
  color: #007bda;
  //font-size: 18px;
  //margin-bottom: 20px;
  font-size: 15px;
  margin-bottom: 16px;
}
.tweets-wrapper ul li .info-wrapper p.info-2 span {
  color: #1d1e3a;
}
.tweets-wrapper ul li .info-wrapper p.info-icons {
  margin-bottom: 0;
}
.tweets-wrapper ul li .info-wrapper p.info-icons i {
  color: #e1e8ed;
  padding-right: 24px;
}
.tweets-wrapper ul li .hours-wrapper {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-right: 35px;
}
.tweets-wrapper ul li .hours-wrapper p {
  margin: 0;
}
.tweets-wrapper ul li .hours-wrapper p.icon {
 padding-bottom: 25px;
 // padding-bottom: 40px;
}
.tweets-wrapper ul li .hours-wrapper p.icon i {
  color: #e1e8ed;
}
.tweets-wrapper ul li .hours-wrapper p.hours {
  color: #e1e8ed;
  position: relative;
}
.tweets-wrapper ul li .hours-wrapper p.hours:after {
  content: "\f141";
  font-family: 'FontAwesome';
  position: absolute;
  bottom: -10px;
  right: 0;
}
.section-2 {
  margin-bottom: 30px;
}
.section-2 .panel-group {
  margin: 0;
}
.section-2 .panel.panel-default {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.section-2 .panel-heading {
  font-size: 18px;
  color: #fff;
  padding: 30px 25px 29px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 500;
  background: #111a49;
  background: linear-gradient(to right, #111a49, #288980);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.section-2 .block-1 .panel-body {
  padding: 21px 15px;
}
.section-2 .block-1 .panel-body .left {
  width: 50%;
  float: left;
  border-right: 1px solid #dbdbdb;
  text-align: center;
  padding: 5px 0;
}
.section-2 .block-1 .panel-body .right {
  width: 50%;
  float: left;
  text-align: center;
  padding: 5px 0;
}
.section-2 .block-1 .panel-body p {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  vertical-align: baseline;
  line-height: 1;
  margin-bottom: 0;
}
.section-2 .block-1 .panel-body p.main {
  font-size: 24px;
  color: #101748;
  padding-right: 18px;
}
.section-2 .block-1 .panel-body p.sub {
  color: #959595;
}
.section-2 .block-2 .panel-body, .section-2 .block-3 .panel-body {
  padding: 17px 15px 17px;
}
.section-2 .block-2 .panel-body .left, .section-2 .block-3 .panel-body .left {
  width: 50%;
  float: left;
  border-right: 1px solid #dbdbdb;
  text-align: left;
  padding-left: 14px;
}
.section-2 .block-2 .panel-body .right, .section-2 .block-3 .panel-body .right {
  width: 50%;
  float: left;
  text-align: left;
  padding-left: 32px;
}
.section-2 .block-2 .panel-body p, .section-2 .block-3 .panel-body p {
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
  vertical-align: baseline;
  line-height: 1;
  margin-bottom: 0;
}
.section-2 .block-2 .panel-body p.main, .section-2 .block-3 .panel-body p.main {
  font-size: 24px;
  color: #101748;
  margin-bottom: 5px;
}
.section-2 .block-2 .panel-body p.sub, .section-2 .block-3 .panel-body p.sub {
  color: #959595;
}
.section-3 {
  margin-bottom: 30px;
}
.section-3 .table-wrapper {
  background-color: #fff;
  padding: 27px 25px 27px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.section-3 .table-wrapper h2 {
  margin: 0 0 45px;
  line-height: 1;
  font-size: 24px;
  color: #101848;
}
.section-3 .table > thead > tr > th {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #e3e3e3;
  line-height: 1;
}
.section-3 .table > thead > tr > th i {
  padding-left: 6px;
}
.section-3 .table > tbody > tr > td {
  border-bottom: 1px solid #e3e3e3;
  border-top: none;
  vertical-align: middle;
}
.section-3 .table > tbody > tr > td:first-child {
  font-size: 16px;
  font-weight: 300;
  color: #288980;
  padding: 23px 4px 18px;
  line-height: 1;
  vertical-align: middle;
}
.section-3 .table > tbody > tr > td:nth-child(2) {
  padding: 23px 0 18px;
  vertical-align: middle;
}
.section-3 .table > tbody > tr > td:nth-child(2) span {
  padding: 0 8px;
  line-height: 13px;
  color: #fff;
  border-radius: 60px;
  background-color: #37c7ac;
  font-size: 14px;
  font-weight: 400;
}
.section-3 .table > tbody > tr > td:last-child {
  font-size: 16px;
  font-weight: 300;
  color: #7b7b7b;
  padding: 23px 0 18px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}
.section-3 .pagination-wrapper {
  text-align: center;
}
.section-3 .pagination {
  margin: 9px 0 0;
}
.section-3 .pagination a {
  color: #101848;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.section-3 .pagination a.active {
  background-color: #37c7ac;
  color: #fff;
}
.section-3 .pagination a:hover:not(.active) {
  background-color: #ddd;
}
.section-3 .panel-group {
  margin-bottom: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.section-3 .panel.panel-default {
  border-color: transparent;
  border-radius: 5px;
}
.section-3 .notification-wrapper .panel-heading {
  margin: 20px 0 5px;
  line-height: 1;
  font-size: 24px;
  color: #101848;
  background-color: transparent;
}
.section-3 .notification-wrapper .panel-body ul {
  padding: 0;
  margin: 0;
}
.section-3 .notification-wrapper ul li {
  display: block;
  padding: 25px 5px 20px;
  border-top: 1px solid #e2e9ec;
}
.section-3 .notification-wrapper ul li:last-child {
  border-bottom: 1px solid #e2e9ec;
  margin-bottom: 54px;
}
.section-3 .notification-wrapper ul li .icon-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.section-3 .notification-wrapper ul li .icon-wrapper .circle {
  line-height: 48px;
  color: #fff;
  width: 45px;
  height: 45px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 100%;
  background-color: #43cda1;
}
.section-3 .notification-wrapper ul li .icon-wrapper .circle i {
  font-size: 20px;
}
.section-3 .notification-wrapper ul li .status-wrapper {
  display: inline-block;
  padding-left: 10px;
}
.section-3 .notification-wrapper ul li .status-wrapper h5 {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 11px;
  color: #3e3e3e;
}
.section-3 .notification-wrapper ul li .status-wrapper p {
  font-size: 12px;
  line-height: 1;
  margin: 0 0 11px;
  color: #8f8f8f;
  font-weight: 300;
}
.section-3 .notification-wrapper ul li .status-wrapper p.time {
  margin-bottom: 0;
}
footer {
  background-color: #fff;
}
footer p {
  color: #152f54;
  line-height: 1;
  padding: 26px 0 27px;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
}
footer p span {
  color: #585858;
}







/****** Custom Css **************/
.gray-box{
  padding: 30px 30px;
  background: #F5F6F8;
  border-radius: 2px;
  border:1px solid #eee;
}
.gray-box .form-control{
  height: 42px;
}
.btn-calculate-profile{
  /* background: #37C7AC; */
  background: #8d8686;
  color: #fff !important;
  padding: 12px 20px;
}
.resettext{
  padding-right: 10px;
  text-decoration: underline;
  color: #37C7AC !important;
}
.custom-panel{
  margin-top: 30px;
  margin-bottom: 100px !important;
}
.custom-panel .panel-heading{
      color: #333;
    background: #f5f5f5 !important;
    text-align: center;
    font-size: 14px;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.calculator-result h4{
  margin-top: 25px;
  margin-bottom: 15px;
}
.calculator-result p{
  color: #37C8AB;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
.calculator-result .col-md-4{
  border-right: 1px solid #EEF0F2;
}

.custom-breadcrumb{
  background: none !important;

}
.custom-breadcrumb li a{
  color: #8E8E8E !important;
  font-size: 18px;
  font-weight: bold;
}
.custom-breadcrumb .active{
  color: #11204B !important;
  font-weight: bold;  
  font-size: 18px !important;
}

/******** faucet *******/
.faucet-main-box{
  padding: 30px 20px;
  background: #fff;
  border-radius: 6px;
  border:1px solid #F0F0F0;
}

.faucet-main-box .table{
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
}
.faucet-main-box .table thead{
      background: linear-gradient(to right, rgb(17, 26, 73), rgb(40, 137, 128));
  color: #fff;
}

.faucet-main-box .table thead tr th{
  
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center !important;
}

.gray-box-faucet{
  padding: 30px 40px;
  background: #F5F6F8;
  border-radius: 2px;
  border:1px solid #eee;
  margin: 20px 60px;
}
.gray-box-faucet h4{
  line-height: 21px;
}
.publishers{
  color: #35C8AC;
  text-decoration: underline;
  padding-top: 20px;
}
.btn-roll{
   background: #37C7AC;
  color: #fff !important;
  padding: 8px 40px;
}
.contact-box .control-label{
  text-align: left !important;
}

.btn-send{
  background: #37C7AC;
  color: #fff !important;
  padding: 8px 40px;
}


.panel-title > a:before {
    float: left !important;
    font-family: FontAwesome;
    content:"\f055";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: left !important;
    content:"\f056";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.faq-box .panel-body{
  background: #F8F8F8 !important
}

.greentext{
  color: #37C7AC;
  text-decoration: underline;
}



/*********** Payment ***********/
.latest-payment{
  padding: 30px 20px;
  background: #fff;
  border-radius: 6px;
  border:1px solid #F0F0F0;
}

.notificaiton-feed{
  padding: 30px 20px;
  background: #fff;
  border-radius: 6px;
  border:1px solid #F0F0F0;
  padding-bottom: 60px;
}

.latest-payment th{
  text-align: center;
}

.complete{
  border: 1px solid #75D141;
  background: #75D141;
  color: #fff;
  border-radius: 12px; 
  padding: 0 5px;
  font-size: 12px;
}


.incomplete{
  border: 1px solid #F7941C;
  background: #F7941C;
  color: #fff;
  border-radius: 12px; 
  padding: 0 5px;
  font-size: 12px;  
}

.green{
  color: #37C7AB !important;
}


.notificaiton-feed h4{
  border-bottom: 1px solid #E8EEF0;
  padding-bottom: 20px;
}

.View-btn{
  background: #37C7AB ;
  border: 1px solid #37C7AB ;
  padding: 5px 15px;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: none !important;

}

.mymedia{
border-bottom: 1px solid #E8EEF0;
padding-bottom: 10px; 
}

.mymedia a span{
  font-size: 20px;
  background: #44CDA1;
  border: 1px solid #44CDA1;
  padding: 8px 13px;
  border-radius: 30px;
  color: #fff;
}

.mymedia p{
  color: #404040;
  font-weight: bold;
  font-size: 12px;
}
.isActive {
  /* background-color: #8d8686; */
  background-color: #37C7AC;
}


/************ Extras ***********/
 .btnStyle {
     transform: translateZ(0) !important;
     backface-visibility: hidden !important;
     transition: 300ms ease-out !important;
}
 .btnStyle:hover {
     transform: scale(0.9) !important;
}
 .btnStyle2 {
     transform: translateZ(0) !important;
     backface-visibility: hidden !important;
     transition: 300ms ease-out !important;
}
 .btnStyle2:hover {
     transform: scale(1.1) !important;
}
 .mb0{
     margin-bottom: 0;
}
 .ml5{
     margin-left: 5px !important;
}
 .ml7{
     margin-left: 7px !important;
}
 .ml10{
     margin-left: 10px;
}
 .ml15{
     margin-left: 15px;
}
 .ml20{
     margin-left: 20px;
}
 .ml30{
     margin-left: 30px;
}
 .ml40{
     margin-left: 40px;
}
 .ml50{
     margin-left: 50px;
}
 .ml100{
     margin-left: 100px;
}
 .mb5{
     margin-bottom: 5px;
}
 .mb10{
     margin-bottom: 10px;
}
 .mb15{
     margin-bottom: 15px;
}
 .mb20{
     margin-bottom: 20px;
}
 .mb30{
     margin-bottom: 30px;
}
 .mb40{
     margin-bottom: 40px;
}
 .mb100{
     margin-bottom: 100px;
}
 .mb150{
     margin-bottom: 150px;
}
 .mt0{
     margin-top: 0;
}
 .mt5{
     margin-top: 5px;
}
 .mt10{
     margin-top: 10px;
}
 .mt15{
     margin-top: 15px;
}
 .mt20{
     margin-top: 20px;
}
 .mt30{
     margin-top: 30px;
}
 .mt40{
     margin-top: 40px;
}
 .mt50{
     margin-top: 50px;
}
 .mt60{
     margin-top: 60px;
}
 .mt70{
     margin-top: 70px;
}
 .mt80{
     margin-top: 80px !important;
}
 .mt100{
     margin-top: 100px;
}
 .mt150{
     margin-top: 150px;
}
 .mt200{
     margin-top: 200px;
}
 .mt-10{
     margin-top: -10px;
}
 .mt-20{
     margin-top: -20px;
}
 .mt-30{
     margin-top: -30px;
}
 .mt-40{
     margin-top: -40px;
}
 .mt-50{
     margin-top: -50px;
}
/********* font-size **********/
 .fbold{
     font-weight: 600;
}
 .f12{
     font-size: 12px;
}
 .f13{
     font-size: 13px;
}
 .f14{
     font-size: 14px !important;
}
 .f15{
     font-size: 15px;
}
 .f16{
     font-size: 16px;
}
 .f17{
     font-size: 17px;
}
 .f18{
     font-size: 18px;
}
 .f19{
     font-size: 19px;
}
 .f20{
     font-size: 20px;
}
 .white{
     color: #fff;
}
 .whiteMontbold{
     color: #fff;
     font-weight: bold;
}
 .pt10{
     padding-top: 10px;
}
 .pb10{
     padding-bottom: 10px;
}
 .block{
     display: block;
}

th {
  width: '33.33%' !important;
}
td {
  width: '33.33%' !important;
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: '#37c7ac' !important;
  border-color: '#37c7ac' !important;
}

@media (min-width: 767px) {
  
  .box2-wrapper .well ul li {
    width: 25%;
    padding: 9px 20px;
  }
  .box2-wrapper .well ul li:first-child {
    width: 25%;
  }
  .box2-wrapper .well ul li:last-child {
    width: 25%;
  }
}